

#logo {
	display: inline-block;
	height: 83px;
	background-image: url("http://blog-intelligence.com/img/logo.png");
	background-repeat: no-repeat;
	width: 268px;
}

#logo a {
	display: inline-block;
	text-indent: -9999px;
	height: 100%;
	width: 100%;
}
