html, body {
  width: 400px;
  background-color: #fff9f0;
  font-family: 'Roboto';
}

header {
  height: 50px;
  background-color: rgba(149, 165, 166,1.0);
  width: 100%;
/*  box-shadow: 0px 3px 2px -2px gray;*/
}

header > img {
  padding: 5px;
  height: 40px;
  margin:  0 auto;
  display: block;
}

body::-webkit-scrollbar-track {
  background-color: #eee;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: #0ae;
}

.data-area {
  margin: 0 10%;
  margin-top: 20px;
}

.count-area p,
.count-area a {
  margin: 0;
  letter-spacing: 2px;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  color: #fcb03c;
  display: block;
  margin: 0 auto;
}

.count-area a {
  cursor: pointer;
}

.count-area:hover {
  transition-duration: 0.3s;
  padding-left: 10px;
}

p.count {
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
}

#categoryContainer p {
  text-align: center;
}

#categoryContainer p span {
  margin: 2px;
  padding: 2px 8px;
  background-color: rgb(78,205,196);
  color: #fff;
  border-radius: 2px;
  display: inline-block;
}

.similar-area h2 {
  display: block;
}

.similar-area span {
  margin: 2px;
  padding: 2px 8px;
  background-color: rgb(78,205,196);
  color: #fff;
  border-radius: 2px;
  display: inline-block;
}


/* ===== post information display ============ */
.data-area #postCountArea {
  padding: 5px 10px;
  border-radius: 5px;
}

.data-area #postCountArea p {
  margin: 0;
  letter-spacing: 2px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  color: #fcb03c;
}

.data-area #postCountArea #postCount {
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
}

.data-area .relatedPostContainer span {
  margin: 2px;
  padding: 2px 8px;
  background-color: rgb(78,205,196);
  color: #fff;
  border-radius: 2px;
  display: inline-block;
}

.icon {
  float: left;
  width: 30px;
  height: 32px;
  margin-top: 3px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 22;
  font-weight: bolder;
  padding-left: 2px;
}

.relatedPost {
    height: 50px;
    font-size: 11px;
    margin-bottom:10px;
}

.description-container {

}

.title {
    font-weight: 600;
    font-size: 12px;
    height: 15px;
    overflow: hidden;
    text-transform: uppercase;
}

.url {
    height: 15px;
    overflow: hidden;
}

/* ================== */
.view-animate {
  position: relative;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;

  display:block;
  position: absolute;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  display: none;
}

/* ================== */

@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab'), local('JosefinSlab'), url(/fonts/josefin-slab.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(/fonts/OpenSans-CondLight.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(/fonts/Roboto100.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(/fonts/Roboto300.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}