html, body {
  height: 500px;
  width: 400px;
}

header {
  height: 75px;
  background-color: #5a6065;
  width: 100%;
}

header > img {
  padding: 5px;
  height: 40px;
  margin:  0 auto;
  display: block;
}

#selectionArea {
  display: block;
  height: 25px;
  width: 60%;
  margin: 0 auto;
}

#selectionArea a {
  color: #fff;
  border-radius: 6px;
  border: 1px solid #fff;
  padding: 1px 5px;
}