#dataArea-blog {
  margin: 0 10%;
}

#dataArea-blog #postCountArea {
  padding: 5px 10px;
  border-radius: 5px;
}

#dataArea-blog #postCountArea p {
  margin: 0;
  letter-spacing: 2px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  color: #fcb03c;
}

#dataArea-blog #postCountArea #postCount {
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
}

#dataArea-blog #categoryContainer p {
  text-align: justify;
}

#dataArea-blog #categoryContainer p span {
  margin: 2px;
  padding: 2px 8px;
  background-color: rgb(78,205,196);
  color: #fff;
  border-radius: 2px;
  display: inline-block;
}


#dataArea-blog #relatedPostContainer span {
  margin: 2px;
  padding: 2px 8px;
  background-color: rgb(78,205,196);
  color: #fff;
  border-radius: 2px;
  display: inline-block;
}*



#icon {
    height: 40px;
    float: left;
    padding: 5px;
}

#relatedPost {
    height: 50px;
    font-size: 11px;
    margin-bottom:10px;
}

#descriptionContainer {
    
}

#title {
    font-weight: 600;
    font-size: 12px;
}

#url {
    
}