#bi-barHeader {
  width: 100%;
  height: 140px;
  background-color: #fff;
}

#bi-animationArea {
  height: 85px;
}

#bi-interactionArea {
  padding: 10px 0px;
  height: 35px;

  color: #fff;
  background-color: #5a6065
}

#bi-logoArea, #bi-buttonArea {
  display: inline-block;
  height: 100%;
}

.button {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.selected {
  font-weight: bolder;
}

ul.button-group {
  list-style-position: outside;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  padding: 1% 5%;

  color: #fff;
  border-radius: 6px;
  border: 1px solid #fff;
}

.button-group > li {
  color: #fff;
  display: inline-block;
  padding: 0px 5px;
}

#bi-interactionArea #bi-buttonArea {
  margin: 0 10% 0 20%;
  width: 30%;
  position: relative;
}

#bi-interactionArea #bi-logoArea {
  margin: 0 20% 0 10%;
  width: 10%;
}

#bi-interactionArea #bi-logoArea img {
  height: 100%;
  width: auto;
}