<div class='data-area'>
  <div class='count-area' style='cursor:pointer' ng-show='pageData.postCount > 0' ng-click='showLinkedPosts()'>
    <p id='postCount' class='count'>{{ pageData.postCount }}</p>
    <p class='count-description'>Linked<br>posts</p>
  </div>

  <div class='count-area' style='cursor:pointer' ng-show='pageData.relatedHosts.length > 0' ng-click='showSimilarPages()'>
    <p id='similarPageCount' class='count'>{{ pageData.relatedHosts.length }}</p>
    <p class='count-description'>Similar<br>Sites</p>
  </div>

  <highchart id='piechart' config='chartConfig' ng-show='pageData.sentiments !== null'></highchart>

  <div id='categoryContainer'>
    <p>
      <span ng-repeat='tag in pageData.tags'>{{ tag }}</span>
    </p>
  </div>
</div>

