<div class='data-area'>
  <div class='relatedPostContainer'>
    <div ng-repeat='relatedCategoryPosts in postData.relatedPosts'>
      <div class='relatedPost' style='cursor:pointer' title="Open page in new tab" ng-repeat='relatedPost in relatedCategoryPosts.posts' ng-mouseover='showHelp()' ng-mouseleave='closeHelp()' ng-click='openPageInNewTab(relatedPost.url)' >
        <div class='icon'>
          <img src='http://{{ relatedPost.host }}/favicon.ico' width'32px' height='32px'>
        </div>
        <div class='description-container'>
          <div class='title'>{{ relatedPost.title }}</div>
          <div><span>{{ relatedCategoryPosts.category }}</span></div>
          <div class='url'><a  >{{relatedPost.url}}</a></div>
        </div>
      </div>
    </div>
  </div>
	<highchart id='piechart' config='chartConfig'></highchart>
	
</div>